
/* Your CSS Code here. */
div{
	padding: 10px;
	background-color:purple;
	
	width:200px;
	border-left: 5px solid green;
/* 	border-left-color:green; */
    color:white;
	
}
h1{
  text-decoration: underline;
	font-size:20px;
}
